<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper标签要指定namespace属性，不然会报错，且mapper开发时设置为Mapper接口的全限定名-->
<mapper namespace="com.aio.portable.parkdb.dao.master.mapper.BookMasterMapper">
    <resultMap id="UserResultMap" type="com.aio.portable.parkdb.dao.master.model.Book">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="author" column="author"></result>
        <result property="description" column="description" typeHandler="com.aio.portable.swiss.suite.storage.db.mybatis.BlobToStringTypeHandler"></result>
    </resultMap>

    <select id="getAll" resultType="com.aio.portable.parkdb.dao.master.model.Book">
        SELECT * FROM book_store
    </select>
    <select id="get" parameterType="java.lang.Integer" resultType="com.aio.portable.parkdb.dao.master.model.Book">
        SELECT * FROM book WHERE id=#{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.aio.portable.parkdb.dao.master.model.Book" >
        insert into book (name, author, description)
        values(#{name}, #{author}, #{description})
    </insert>
</mapper>